<div class="genie-options-block-outer"></div>

{% schema %}
{
  "name": "Option Dev By Akash",
  "templates": [
    "product"
  ],
  "target": "section",
  "settings": [
    {
      "type": "header",
      "content": "About this block"
    },
    {
      "type": "paragraph",
      "content": "This is the example for the position of the Panda Size Chart Icon. You may now check the storefront product page for Size Chart that you've added the app block here."
    }
  ]
}
{% endschema %}